.main {
    padding: 90px;
}

.container {
padding:10px;

}

#snow {
    height:400px;
    width: 600px;
}

#vegas {
    height:400px;
    width: 600px;
}

#canyon {
    height:400px;
    width: 600px;
}

#car3 {
    height:400px;
    width: 600px;
}

#icon {
  height:40px;
  width:50px;
}

body {
  font-family: Helvetica, sans-serif;
  padding: 10px;
  text-align: center;
}

#slideshow {
  padding:90px;
  overflow: hidden;
  height: 510px;
  width: 728px;
  margin: 0 auto;
}

.slide-wrapper {
  width: 2912px;
  -webkit-animation: slide 18s ease infinite;
}

.slide {
  float: left;
  height: 510px;
  width: 728px;
}



.slide-number {
  color: #000;
  text-align: center;
  font-size: 10em;
}

@-webkit-keyframes slide {
  20% {margin-left: 0px;}
  30% {margin-left: -728px;}
  50% {margin-left: -728px;}
  60% {margin-left: -1456px;}
  70% {margin-left: -1456px;}
  80% {margin-left: -2184px;}
  90% {margin-left: -2184px;}
}

body {
    opacity: 1;
    transition: 1s opacity;
}
body.fade-out {
    opacity: 0;
    transition: none;
}
